.post-view {
  border-radius: 5px;
  margin: 100px;
  padding: 2px 16px;
  background-color: #ecf2f8;
}

.post-view__title {
  text-align: center;
  text-transform: uppercase;
}

.post-view__content {
  text-align: justify;
  white-space: pre-line;
  padding-bottom: 20px;
}