.post-view {
  border-radius: 5px;
  width: 40%;
  margin: auto;
  margin-top: 80px;
  padding: 2px 24px;
  background-color: #ecf2f8;
}

.post-view__content {
  text-align: justify;
  white-space: pre-line;
  padding-bottom: 20px;
}